<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面已过期</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="body_content_wrap">
    <div class="article_content">
        <h3 class="title">
            <img src="__PUBLIC__/Home/images/tip.png" alt="">
        </h3>

        <p class="duanluo">您的今日积分已经领取，欢迎明天继续来领</p>
    </div>
    <div class="ad_content">
        <div class="baidu_ad">
            <script type="text/javascript">
                /*自适应  手机*/
                var cpro_id = "u2773579";
            </script>
            <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
        </div>
    </div>
</div>
</body>
</html>