<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>医学电子书</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?90c03209a96512a48c732354120dc956";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a[href='']").parent().hide();
            var nk= $('.nickname').text();
           var score= $('.score').text();

            if(nk){
              if(score>0){

                  $('.weixin').hide();
                   $('.yonghu').show();
                  $('.buy').show();
                   $('.wx_login').hide();
              }else{
                  $('.weixin').hide();
                  $('.yonghu').show();
                  $('.earn_score').show();
                  $('.wx_login').hide();
              }
//                $('.weixin').hide();
//                $('.yonghu').show();
//                if(score>=1){
//                    $('.buy').show();
//                    $('.wx_login').hide();
//                    else {
//
//                        $('.earn_score').show();
//                        $('.wx_login').hide();
//                    }
//
//                }

            }else{
                $('.weixin').show();
                $('.yonghu').hide();
            }

        });



    </script>
    <style type="text/css">



        .search-form{float: left; background-color: #f0f0f0;padding:5px; margin-left: 500px;}
        .search-text{height:25px;line-height: 25px;float: left;width: 350px;border: 0;outline: none;}
        .search-button{background-image: url(__PUBLIC__/Home/images/search-button.png);width:29px;height:29px;float: left;border: 0}

        .yonghu{display: none}
        .earn_score{display: none}
        .buy{display: none}

        a img{ border:none}

    </style>


</head>
<body>
<div class="head">
    <div class="head_cont">
        <a href="{:U('index')}" class="logo"></a>
        <div class="weixin">
            <a href="{:U('wxLogin')}">微信登录</a>
        </div>
        <div class="yonghu">

                <a href="{:U('Index/score')}" class="nickname">{$list.nickname}</a>
                <a href="{:U('Index/score')}">积分中心</a>
                <a href="{:U('out')}">退出</a>

        </div>
    </div>
</div>
<div class="con">
    <div class="second_cont"style="margin-top:30px">

        <div class="personal_left">
            <p><a href="{:U('Index/index')}">返回首页</a></p>
            <div class="weixin_name">
                <a href="#" class="weixin_img">
                    <img src="{$list.avatar}" style="width: 78px; height: 78px" />
                </a>
                <a href="#" class="wx_name">{$list.nickname}&nbsp;&nbsp;&nbsp;{$list.uid}</a>

            </div>
            <div class="personal_jifen">
                <ul>
                    <li class="jifen"><a href="{:U('Index/score')}">积分<span>></span></a></li>
                    <li class="jifen profit_jifen"><a href="{:U('Index/earn_score')}">赚积分方法1<span>></span></a></li>
                    <li class="jifen profit_jifen"><a href="{:U('Index/earn_score2')}">赚积分方法2<span>></span></a></li>

                </ul>
            </div>
        </div>

        <div class="personal_right">
            <h2>积分{$result2.score}</h2>
            <div class="download">
                <h4 style="color:#666">积分日志</h4>
                <div class="download_content">
                    <volist name="result3" id="result3">
                    <p><span>
                    {$result3.time}  </span>      <span> {$result3.cause}  </span> <span> <a href="{$result3['address']}" id="address" target="_blank">{$result3.book_name}</a></span><span>  积分{$result3.score}</span></p>
                    <!--<p><span style="border-bottom: #209810 1px dashed">2016年11月1日 12：00  消费1积分 余额12积分</span></p>-->
                    <!--<a href="#" class="link">黄元御医书全集（套装上中下册）</a>-->
                    <!--<p><span>2016年10月1日 12：00  红包2积分，余额13积分</span></p>-->
                    <!--<p><span>2016年9月1日 12：00资料完善通过，奖励10积分，余额11积分</span></p>-->
                    <!--<p><span>2016年9月1日 12：00  注册，奖励1积分，余额1积分</span></p>-->
                    </volist>
                </div>
            </div>
        </div>
</div>
</body>
</html>
